<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>json2model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F37B1ACE1EF3D53000707AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F37B1AE71EF3D53000707AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F37B1AF21EF3D53000707AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
